<p id="notice"><%= notice %></p>

<p>
  <b>Descriptio:</b>
  <%= @article_paragraph_type.Descriptio %>
</p>


<%= link_to 'Edit', edit_article_paragraph_type_path(@article_paragraph_type) %> |
<%= link_to 'Back', article_paragraph_types_path %>
